* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}
html {
  scroll-behavior: smooth;
}
.container {
  max-width: 1300px;
  margin: 0 auto;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  position: sticky;
  top: 0;
}

.topnav a {
  float: left;
  display: block;
  color: #000000;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.topnav a:hover {
  background-color: #000000;
  color: white;
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 768px) {
  nav {
    flex-direction: column;
    align-items: flex-start;
  }

  .topnav a:not(.icon) {
    display: none;
  }

  .topnav a.icon {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    padding: 14px 16px;
  }

  .topnav.responsive .icon {
    position: static;
  }

  .topnav.responsive a {
    display: block;
    text-align: left;
    padding: 14px 16px;
    width: 100%;
    box-sizing: border-box;
  }
}

.logo {
  width: 120px;
  cursor: pointer;
}

.logo img {
  max-width: 100%;
  height: auto;
}

.button {
  padding: 10px 20px;
  background-color: #0c0c0c;
  color: white;
  font-size: 16px;
  margin: 5px;
}

.button:hover {
  background-color: aliceblue;
  color: #0c0c0c;
}

.landing {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f2f2f2;
}

.landing-inner {
  text-align: center;
}

.landing-inner h1 {
  font-size: 36px;
  margin-bottom: 20px;
}

.landing-inner p {
  font-size: 18px;
  margin-bottom: 20px;
}

.arrow img {
  width: 40px;
  height: auto;
}

#Name {
  color: blue;
}

#about {
  padding: 100px 0;
}
.about-header {
  text-align: center;
  margin-bottom: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.line {
  height: 10px;
  width: 20px;
  background-color: rgb(0, 0, 0);
}

.about-header h2 {
  font-size: 48px;
}
.about-content-wrap {
  display: flex;
  justify-content: space-between;
  gap: 2rem;

}
.about-left {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.about-left p {
  font-size: 18px;
  line-height: 24px;
  padding: 15px;
}
.about-left {
  width: 60%;
}
.about-right {
  width: 40%;
  height: auto;
}

.about-right img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin-right: 10px;
}

@media screen and (max-width: 768px) {
  .about-left {
    width: 100%;
    align-items: center;
  }
  .about-right img {
    width: 30%;
    height: auto;
    object-fit: cover;
  }
  .about-right {
    margin: auto;
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .about-content-wrap {
    flex-direction: column-reverse;
    padding: 15px;
  }
}
